.categories {
  &__conatiner {
    margin: 40px;
    font-size: small;
    .categories-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      .topic-name {
        font-size: 16px;
        font-weight: bold;
        color: $primary;
      }
      .topic-students {
        color: $grey;
      }
    }
  }
}
