$white: #fff;
$green: #2d8543;
$dark-green: #47945a;
$black: #1e1e1c;

$brand: #e61b1b;

$primary: #0f7c90;
$primary-dark: #094c59;
$primary-black: #003640;
$secondary: #be5a0e;
$secondary-mid: #eb8a2f;
$secondaty-light: #ffe799;
$secondary-dark: #593d00;

$grey: #868998;
$dark-grey: #3c3b37;
$mid-grey: #dcdacb;
$light-grey: #fbfbf8;
